[submodule "src/Yabloc"]
	path = src/Yabloc
	url = https://github.com/NEWSLabNTU/YabLoc.git
[submodule "src/external/nuScene_converter"]
	path = src/external/nuScene_converter
	url = https://github.com/Frozn553/nuScene_converter.git
[submodule "src/external/distance-verifier"]
	path = src/external/distance-verifier
	url = https://github.com/Allan11231123/distance-verifier.git
[submodule "src/external/velocity-receiver"]
	path = src/external/velocity-receiver
	url = https://github.com/Allan11231123/velocity-receiver.git
[submodule "src/carla_ros"]
	path = src/carla_ros
	url = https://github.com/NEWSLabNTU/carla_ros.git
	branch = 2024_artc
